<app-navbar></app-navbar>

<main class="container-cadastro">
  <section class="glass-card-grande">
    
    <header style="margin-bottom: 20px;">
      <h1>Lista de Ordens de Serviço</h1>
      <p>Consulte, edite ou remova as ordens de serviço do sistema.</p>
    </header>

    <div *ngIf="carregando" class="loading-msg">Carregando ordens de serviço...</div>

    <div class="filtros-grid">
      <input type="text" placeholder="Nº da OS" [(ngModel)]="filtroId" [ngModelOptions]="{ standalone: true }">
      
      <input type="text" placeholder="Nome do Cliente" [(ngModel)]="filtroCliente" [ngModelOptions]="{ standalone: true }">
      
      <select [(ngModel)]="filtroStatus" [ngModelOptions]="{ standalone: true }">
        <option value="">Todos os Status</option>
        <option *ngFor="let status of opcoesStatusOS" [value]="status">{{ status }}</option>
      </select>
    </div>

    <section *ngIf="!carregando" class="os-table-section">
      <table class="os-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Equipamento</th>
            <th>Status</th>
            <th>Valor (R$)</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="listaOsFiltrada.length === 0">
            <td colspan="6" style="text-align: center; padding: 20px;">Nenhuma Ordem de Serviço encontrada.</td>
          </tr>
          
          <tr *ngFor="let os of listaOsFiltrada">
            <td>{{ os.id }}</td>
            <td>{{ os.cliente_nome }}</td>
            <td>{{ os.equipamento }}</td>
            <td>{{ os.status_servico }}</td>
            <td>{{ os.valor_total | number:'1.2-2' }}</td>
            <td>
              <button *temPermissao="[ Permissoes.ORDEM_SERVICO.EDITAR ]" class="btn-editar" (click)="editarOrdemServico(os)">Editar</button>
              <button *temPermissao="[ Permissoes.ORDEM_SERVICO.EXCLUIR ]" class="btn-excluir" (click)="confirmarExclusao(os)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

  </section>
</main>

<app-modal-confirmacao 
  *ngIf="modalConfirmacao"
  [titulo]="tituloConfirmacao"
  [mensagem]="mensagemConfirmacao"
  textoBotaoConfirmar="{{ textoBotaoConfirmar }}"
  textoBotaoCancelar="{{ textoBotaoCancelar }}"
  (aoConfirmar)="acaoConfirmacao()"
  (aoCancelar)="fecharModalSemSalvar()">
</app-modal-confirmacao>

<app-modal-retorno
  *ngIf="modalRetorno"
  [titulo]="tituloRetorno"
  [mensagem]="mensagemRetorno"
  textoBotaoConfirmar="Entendido"
  (aoConfirmar)="fecharModalRetorno()">
</app-modal-retorno>