  <header class="glass-nav">
    <div class="logo">
      <span class="logo-highlight">CEN</span>TEL
    </div>
    
    <nav>
      <ul class="nav-links">
        <li><a href="#" class="active">Ordens</a></li>
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Lista</a></li>
        <li><a href="#">Estoque</a></li>
        <li><a href="#">Relatório</a></li>
        <li><a href="#">Vendas</a></li>
      </ul>
    </nav>
    
    <div class="user-profile">
      <div class="avatar"></div>
    </div>
  </header>
