  <header class="glass-nav">
    <div class="logo">
      <span class="logo-highlight">CEN</span>TEL
    </div>
    
    <nav>
      <ul class="nav-links">
        <li class="dropdown">
          <!--Quando cursor apontar na OS.-->
          <a style="cursor: pointer;">Ordens de Serviço ▾</a>   
          <div class="dropdown-content"> <!--Abre as opções Emitir / Listar-->
           <a routerLink="/emissao-os" routerLinkActive="active">Emitir Nova OS</a>
           <a routerLink="/lista-os" routerLinkActive="active">Listar Ordens</a>
          </div>
        </li>
        
        <li><a routerLink="/cadastro" rounterLinkActive="active">Clientes</a></li>
        <!-- <li><a routerLink="/cadastro" rounterLinkActive="active">Lista</a></li> -->
        <li><a routerLink="/cadastro" rounterLinkActive="active">Estoque</a></li>
        <li><a routerLink="/cadastro" rounterLinkActive="active">Relatório</a></li>
        <!-- <li><a routerLink="/cadastro" rounterLinkActive="active">Vendas</a></li> -->
      </ul>
    </nav>
    
    <div class="user-profile">
      <div class="avatar"></div>
    </div>
  </header>