  <header class="glass-nav">
    <div class="logo">
      <span class="logo-highlight">CEN</span>TEL
    </div>
    
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/emissao-os" rounterLinkActive="active">Ordens</a></li>
        <li><a routerLink="/cadastro" rounterLinkActive="active">Cadastro</a></li>
        <li><a routerLink="/cadastro" rounterLinkActive="active">Lista</a></li>
        <li><a routerLink="/cadastro" rounterLinkActive="active">Estoque</a></li>
        <li><a routerLink="/cadastro" rounterLinkActive="active">Relatório</a></li>
        <li><a routerLink="/cadastro" rounterLinkActive="active">Vendas</a></li>
      </ul>
    </nav>
    
    <div class="user-profile">
      <div class="avatar"></div>
    </div>
  </header>
